body{
    margin: 0;
    font-family: 'Ubuntu', sans-serif;
    font-size: 15px;
    color: #333;
    line-height: 1.6;
    background-color:#FBD2E9;
}
*,
*:before,
*:after{
    box-sizing: border-box;
}
h1, h2, h3, h4, h5, h6{
    margin: 0;
}

/*container*/
.container{
    width: 100%;
    max-width: 800px;
    margin: 0 auto;
}

/*header*/
.header{
    width: 100%;
    background-color: #433567;
    top: 0;
    left: 0;
    right: 0;
    z-index: 2;
}
.con2{
    padding-top: 30px;
    width: 100%;
    max-width: 1000px;
    margin: 0 auto;
    background-color: #FBD2E9;
}
.title{
    text-align: center;
    font-size: 68px;
    font-weight: 200;
}
.link_on_main_page{
    color: #E2DBB7;
    text-decoration: none;
    transition: .2s linear;
}
.link_on_main_page:hover{
    color:#6996D3;
}
.logo{
    font-size: 20px;
    color: #E2DBB7;
    font-weight: 200;
    text-align: right;
}

/*intro*/
.main__page{
    display: flex;
    flex-direction: column;
    position: relative;
    margin-top: 0px;
    width: 100%;
    height: 100vh;
    
    background-color: #FBD2E9;
}
.description{
    font-size: 23px;
    line-height: 1.4;
    font-weight: 200;
    text-align: center;
    padding-left: 50px;
    padding-right: 50px;
}
.inputURL{
    margin-top: 50px;
    margin-left: 250px;
    width: 400px;
    height: calc(2.25rem + 2px);
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #bdbdbd;
    border-radius: 0.25rem;
}
.btnURL{
    margin-left: 30px;
    width: 100px;
    height: calc(2.25rem + 2px);
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #bdbdbd;
    border-radius: 0.25rem;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}
.btnURL:hover {
    background: #9083B3;
  }
  
.btnURL:focus {
    outline: none;
    color:white;
    background: #433567;
    box-shadow: 0 0 0 2px #cbd6ee;
}

/*Скрин сайта и его подпись*/
.infoblock{
    display: none;
}
.pre__screen{
    text-align: center;
    display: block;
    font-size: 23px;
    line-height: 1.4;
    margin-top: 50px;
}
.pre__screen:before{
    margin-bottom: 30px;
    content:"";
    display: block;
    width: 100%;
    height: 3px;
    background-color: #433567;
}
.screen{
    height: 400px;
}
.info_page{
    width: 100%;
    max-width: 800px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    font-size: 23px;
    line-height: 1.4;
    margin-bottom: 50px;
}
.post__screen{
    margin-top: 70px;
    
    margin-bottom: 0px;
}
.pop_up{
    background: rgba(58,58,58, 0.7);
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    position: absolute;
    display: none;
}
.popup__window{
    width: 320px;
    height: 200px;
    text-align: center;
    padding-top: 60px;
    font-size: 20px;
    font-weight:500;
    background-color: #ffedf7;
    color: black;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 25px;
    left: 0;
    margin: auto;
}
.popup__text{
    border-width: 1px;
    border-color: #2f2547;
}

.err_form{
    text-align: center;
    display: none;
    font-size: 23px;
    line-height: 1.4;
    margin-top: 50px;
}